studenti2schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mydoc">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Studentaatzimes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StudentaID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1111111"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PrieksmetaID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="22222222"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PasniedzejaID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="33333333"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MacibugadasemestraID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="444444"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Atzime">
								<xs:simpleType>
									<xs:restriction base="xs:byte">
										<xs:enumeration value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Students">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StudentaID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1111111"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Studentavards">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Sintija"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Studentauzvards">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Ozolina"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UniversitatesID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="5555555"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FakultatesID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="666666666"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Macibugadisemestris">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MacibugadasemestraID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="7777777"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Kurss">
								<xs:simpleType>
									<xs:restriction base="xs:byte">
										<xs:enumeration value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Kurssemestris">
								<xs:simpleType>
									<xs:restriction base="xs:byte">
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Universitate">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UniversitatesID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="5555555"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Universitatesnosaukums">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="RTU"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Fakultate">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FakultatesID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="666666666"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Fakultatesnosaukums">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Lalala"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Prieksmets">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PrieksmetaID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="88888888"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Prieksmetanosaukums">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Matematika"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Prieksmetailgums">
								<xs:simpleType>
									<xs:restriction base="xs:byte">
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pasniedzejs">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PasniedzejaID">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:enumeration value="33333333"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Pasniedzejavards">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Janis"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Pasniedzejauzvards">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Ozols"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
